<% content_for :content do %>  
<p class="intro">
  Bombolone is a tasty Content Management System for Ruby based on 
  <a href="http://www.sinatrarb.com/">Sinatra</a>, <a href="http://cassandra.apache.org/">Cassandra</a>, 
  <a href="http://coffeescript.org/">Coffeescript</a>, <a href="http://angularjs.org">AngularJS</a>, 
  <a href="http://jquery.com">jQuery</a>, <a href="http://sass-lang.com">Sass</a> and
  <a href="http://getbootstrap.com/2.3.2/">Bootstrap</a>.
</p>
<p class="intro">It's designed to be a simple, flexible toolset for projects of any size.</p>
<% end %>