<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">

  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>

  <header>
    Tasty Bombolone
  </header>

  <div>
  </div>

  <footer>
  </footer>

</body>
</html>
